html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15.5px;
  font-family: 'Hiragino Mincho Pro', serif;
  background: #010101;
  color: #FFF;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 50px;
  background: #212121;
}

#header-wrapper {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

header h1 {
  position: absolute;
  width: 54px;
  height: 34px;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
}

header h1 a, header h1 a img {
  display: block;
  width: 54px;
  height: 34px;
}

header nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 168px;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  font-family: 'YuGothic';
  font-size: 17.5px;
}

header nav ul li:first-child {
  margin-right: 86px;
}

header nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FFF;
}

main {
  flex: 1;
  width: 960px;
  margin: 50px auto 0px auto;
}

.main-title {
  position: relative;
  width: 100%;
  height: 426px;
  border-bottom: 1px solid #FFF;
  text-align: center;
}

.main-title h1 {
  position: absolute;
  font-size: 57px;
  font-weight: 300;
  margin: 0;
  padding-left: 40px;
  letter-spacing: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-title p {
  position: absolute;
  font-size: 19px;
  letter-spacing: 10px;
  padding-left: 10px;
  top: 271px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

#main-contents {
  padding: 8px 0px;
}

footer {
  position: relative;
  width: 100%;
  min-height: 73px;
}

footer p {
  position: absolute;
  font-size: 18px;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

footer p a {
  color: #FFF;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.link-button {
  display: inline-block;
  border: 1px solid #FFF;
  padding: 4px 24px;
  color: #FFF;
  text-decoration: none;
  font-family: 'YuGothic';
}

#instantclick {
  display: none;
}

@media screen and (max-width: 959px) {
  header {
    width: 100vw;
  }

  #header-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 100%;
  }

  #header-wrapper h1 {
    left: 16px;
  }

  header nav {
    right: 30px;
  }

  #header-wrapper nav ul li {
    font-size: 12px;
  }

  #header-wrapper nav ul li:first-child {
    margin-right: 22px;
  }

  main {
    flex: 1;
    width: calc(100% - 24px);
    margin: 50px 12px 0px 12px;
  }

  .main-title {
    height: 304px;
  }

  .main-title h1 {
    width: 100%;
    font-size: 50px;
  }

  .main-title p {
    top: 188px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 8px;
  }

  footer p {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }
}